<section class="flex-container">
<% if @deleted == true %>
<h3>Long live the mighty race of '<%= @race.race %>', oh wait no, you purged them, genocide much?</h3>

<% if @chars.length >= 1 %>
  <h4 class="h4-center">These characters have been assigned a random race: </h4>
  <ul>
    <% @chars.each do |char| %>
      <li><h3><%= char.char_name %></h3></li>
    <% end %>
  </ul>
  <% end %>
<% end %>

<% if @deleted == false %>
<h3>At least one race must exist, please go make another of your choice before deleting this one</h3>

<% end %>


<header class="flex-item mini-header"><h2>Races</h2></header>

<% @races.each do |race| %>
  <% if race.id > 0 %>
    <aside class="flex-item mini-main">
      <p>Race: <%= race.race %>
      <form action="/race/<%= race.id %>/edit">
        <button type="submit">Edit Race</button>
      </form>

      <form action="/race/<%= race.id %>/delete">
        <button type="submit">Delete Race</button>
      </form></p>
    </aside>
  <% end %>
<% end %>

<footer class="flex-item footer"><a href="/race/new">Add new race</a></footer>
</section>
