<section class="flex-container">
<% if @deleted == true %>
<h3>Long live the mighty role of <%= @role.role %>, oh wait no, you purged them, genocide much?</h3>

<% if @chars.length >= 1 %>
  <h4 class="h4-center">Characters listed below have been assigned a random role</h4>
  <ul>
    <% @chars.each do |char| %>
     <li><h3><%= char.char_name %></h3></li>
    <% end %>
  </ul>
  <% end %>
<% end %>

<% if @deleted == false %>
<h3>At least one role must excist, please go make another of your choice before deleting this one</h3>

<% end %>

<header class="flex-item mini-header"><h2>Roles</h2></header>

<% @roles.each do |role| %>
  <% if role.id > 0 %>
    <aside class="flex-item mini-main">
      <p>Role: <%= role.role %>
      <form action="/role/<%= role.id %>/edit">
        <button type="submit">Edit Role</button>
      </form>

      <form action="/role/<%= role.id %>/delete">
        <button type="submit">Delete Role</button>
      </form></p>
    </aside>
  <% end %>
<% end %>


<footer class="flex-item footer"><a href="/role/new">Add new role</a></footer>
</section>

